@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0);}
    50% { transform: translateY(-20px);}
  }
  .animate-bounce-slow {
    animation: bounce-slow 3s infinite;
  }
  /* Prevent horizontal scroll */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Optional reset to avoid layout issues */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
